{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <h2><a class="text-decoration-none text-dark"
            href="{% url 'book-records-list' %}">Book Records</a></h2>


</div>
<hr>
<form class="select-form small"
    method="get"
    action="">
    <div class="row col-lg-4 mx-auto">
        <div class="mb-2">
            <input type="text"
                name="query"
                class="form-control rounded-pill"
                placeholder="Search..."
                value="{{ request.GET.query }}">
        </div>
        <div class="text-end">
            <p><a href="{% url 'book-records-list' %}">Clear</a></p>
        </div>
    </div>
</form><br>

<div class="pagination">
    {% if is_paginated %}
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1&{{ query_params }}">&laquo; First</a>
        <a
            href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of
            {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a class="text-decoration-none text-white"
            href="?page={{ page_obj.next_page_number }}&{{ query_params }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}">Last
            &raquo;</a>
        {% endif %}
    </span>
    {% endif %}
</div>
<br>
<div class="table-responsive">
    <table class="table table-sm table-hover small">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">date</th>
                <th scope="col">book_type</th>
                <th scope="col">date_ordered</th>
                <th scope="col">qty_ordered</th>
                <th scope="col">qty_received</th>
                <th scope="col">date_received</th>
                <th scope="col">agency_ordered_from</th>
                <th scope="col">email</th>
                <th scope="col">status_of_order</th>
                <th scope="col">status_date</th>
            </tr>
        </thead>
        <tbody>
            {% for ob in object_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ob.date|cut:" 00:00:00"}}</td>

                <td><a
                        href="{% url 'book-records-detail' ob.id %}">{{ob.book_type|upper}}</a>
                </td>
                <td>{{ob.date_ordered|cut:"00:00:00"}}</td>
                <td>{{ob.qty_ordered|title}}</td>
                <td>{{ob.qty_received}}</td>
                <td>{{ob.date_received|cut:"00:00:00"}}</td>
                <td>{{ob.agency_ordered_from}}</td>
                <td>{{ob.email|lower}}</td>
                <td>{{ob.status_of_order}}</td>
                <td>{{ob.status_date|cut:" 00:00:00"}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<br>
<div class="pagination">
    {% if is_paginated %}
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1&{{ query_params }}">&laquo; First</a>
        <a
            href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of
            {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a
            href="?page={{ page_obj.next_page_number }}&{{ query_params }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}">Last
            &raquo;</a>
        {% endif %}
    </span>
    {% endif %}
</div>

{% endblock content %}