{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col">
            <h2 class="text-end">Affidavit Form</h2>
            <hr>
        </div>
        <div class="col">
            <form action=""
                method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div class="d-grid">
                    <input class="btn btn-dark"
                        type="submit"
                        value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}