<nav class="py-3 navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {% if request.user.is_authenticated %}
        <a class="text-decoration-none text-white fw-bold"
            href="{% url 'home' %}">Home</a>

        <a class="text-decoration-none text-white fw-bold"
            href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="text-decoration-none text-white fw-bold"
            href="{% url 'exemption-list' %}">Exemptions</a>
        <a class="text-decoration-none text-white fw-bold"
            href="{% url 'hplate-list' %}">H Plate</a>
        <a class="text-decoration-none text-white fw-bold"
            href="{% url 'login' %}">Login</a>
        {% endif %}

    </div>
</nav>
{% if request.user.is_authenticated %}
<div class="d-flex justify-content-center gap-3 pt-2">
    <a class="text-white"
        href="{% url 'affidavits-list' %}">Affidavits</a>
    <a class="text-white"
        href="{% url 'exemption-list' %}">Exemptions</a>
    <a class="text-white"
        href="{% url 'hplate-list' %}">H Plate</a>

    {% if request.user.can_register_user %}
    <a class="text-white"
        href="{% url 'register' %}">Register</a>
    {% endif %}


    <a class="ms-5 text-warning"
        href="{% url 'download_file' %}">Update database</a>
</div>
{% endif %}
<br>